# project ignores
!.gitkeep
*__temp
node_modules
bin
docs

# project files
.project

# vim swap files
*.sw*

# emacs temp files
*~
\#*#

# jetBrains IDE ignores
.idea

# visual studio code IDE ignores
.vscode

# sublime text files
*.sublime*
*.*~*.TMP

# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log
